<!--<div style="background-color:#af4949;border-radius:15px;padding:15px">
  <div *ngFor="let item of productos; let i = index " style="color:aliceblue;background-color:brown;border-radius:15px;padding:10px">
    <img src="{{item.imagen}}" style="width:100px">
    {{item.nombre}}<br>
    Precio: ${{ item.precio }}      
    <br>
    <button class="btn btn-outline-secondary" (click)="ordenar(i)">Ordenar</button>
  </div>
</div>-->

<br>
<div class="d1">
  <img src='http://i.imgur.com/LisIuYc.png' alt="Random first slide" style='width:100%;height:100%' (click)="this.router.navigate(['/locales']);">
</div>

<div class="d2">
  <img src='http://i.imgur.com/pRtGeS5.png' alt="Random first slide" style='width:100%;height:100%' (click)="this.router.navigate(['/pedidos']);">
</div>