<div style="background-color:#af4949;border-radius:15px;padding:15px">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="btn">
        <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="locT()">Todos</button>
          <button class="dropdown-item" (click)="loc1()">Local 1</button>
          <button class="dropdown-item" (click)="loc2()">Local 2</button>
          <button class="dropdown-item" (click)="loc3()">Local 3</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let item of varOfertas; let i = index " style="color:aliceblue;background-color:brown;border-radius:15px;padding:10px">
    <div *ngIf="item.local == local1 || item.local == local2 || item.local == local3">
      Precio: ${{ item.precio }}<br>
      Local: {{item.local}}<br>
      Hasta: {{item.limite}}<br>
      Descripcion: {{item.descripcion}} <br>
      <button class="btn btn-outline-secondary" (click)="ordenar(i)">Ordenar</button>
    </div>
  </div>
</div>
