<div style="background-color:rgba(183,48,30,0.80);border-radius:15px;padding:15px">
  <div ngbDropdown class="d3" style="padding:1px">
    <button class="btn btn-block" id="dropdownBasic1" style="background-color:rgba(183,48,30,1);color:white;" ngbDropdownToggle>
      <div style="font-weight:bold">{{sloca.nombre}}</div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1" >
      <button class="dropdown-item" (click)="sLocal('todos')">Todos los Locales</button>
      <button class="dropdown-item" *ngFor="let ltem of locales; let l = index" (click)="sLocal(l)">{{ltem.nombre}} - {{ltem.direccion}}</button>
    </div>
  </div>
  <br>

  <div *ngFor="let item of varOfertas; let i = index " >
    <div *ngIf="item.local == sloca.idlocal || sloca.nombre == 'Todos los Locales'" [ngStyle]="{ 'background-image': 'url(' + locales[item.local-1].imagen1 + ')', 'background-size': '100%', 'background-repeat': 'repeat', 'background-position': 'center', 'color':'white'}" class="d3">
      <div style="background-color:rgba(32,32,32,0.65)"  class="d3">  
        Precio: ${{ item.precio }}<br>
        Local: {{locales[item.local-1].nombre}}<br>
        Hasta: {{item.limite}}<br>
        Descripcion: {{item.descripcion}} <br>
        <button class="btn btn-outline-secondary" (click)="ordenar(i)">Pedir</button>
      <div>
    </div>
  </div>
</div>
