<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Login">
    <ng-template ngbPanelContent>
      <input type="text" placeholder="Usuario" [(ngModel)]="usuario">
      <input type="password" placeholder="Contraseña" [(ngModel)]="contra">
      <button type="button" class="btn btn-primary" (click)="log()">
        LogIn
      </button>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="Registrarse">
    <ng-template ngbPanelContent>
      <input type="text" placeholder="Usuario" [(ngModel)]="usuario">
      <input type="text" placeholder="Contraseña" [(ngModel)]="contra">
      <button type="button" class="btn btn-primary" (click)="reg()">
        Registrarse
      </button>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Botones">
    <ng-template ngbPanelContent>
      <button type="button" class="btn btn-primary btn-block" (click)="adm()">Administrador</button><br>
      <button type="button" class="btn btn-primary btn-block" (click)="ger()">Encargado</button><br>
      <button type="button" class="btn btn-primary btn-block" (click)="emp()">Empleado</button><br>
      <button type="button" class="btn btn-primary btn-block" (click)="cli()">Cliente</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
22
