
<div *ngIf="!pdf" style="background-color:rgba(183,48,30,0.80);border-radius:15px;padding:15px">
  <div ngbDropdown class="d3" style="padding:1px">
    <button class="btn btn-block" id="dropdownBasic1" style="background-color:rgba(183,48,30,1);color:white;" ngbDropdownToggle>
      <div *ngIf="!total.local" style="font-weight:bold">Seleccione un local</div>
      <div *ngIf="total.local"  style="font-weight:bold">{{total.local.nombre}}</div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1" >
      <button class="dropdown-item" *ngFor="let ltem of locales; let l = index" (click)="sLocal(l)">{{ltem.nombre}} - {{ltem.direccion}}</button>
    </div>
  </div>
  
  
  <div *ngIf="total.local">
    <div *ngFor="let item of productos; let i = index" >
      <div class='d3' [ngStyle]="{ 'background-image': 'url(' + item.imagen + ')', 'background-size': '775px', 'background-repeat': 'no-repeat', 'background-position': 'center'}">
        <div style="background-color:rgba(215,79,61,0.8);width:140px;border-radius:5px;padding:5px">
          <input type="checkbox" name="" value="item.nombre" (click)="agregar(i)">{{item.nombre}}
        </div><br>
        <div ngbDropdown>
          <button class="btn" id="dropdownBasic1" style="background-color:rgba(215,79,61,0.8);color:white" ngbDropdownToggle>Cantidad</button>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="cant(i, 1)">1</button>
            <button class="dropdown-item" (click)="cant(i, 2)">2</button>
            <button class="dropdown-item" (click)="cant(i, 3)">3</button>
            <button class="dropdown-item" (click)="cant(i, 4)">4</button>
            <button class="dropdown-item" (click)="cant(i, 5)">5</button>
            <button class="dropdown-item" (click)="cant(i, 6)">6</button>
            <button class="dropdown-item" (click)="cant(i, 7)">7</button>
            <button class="dropdown-item" (click)="cant(i, 8)">8</button>
            <button class="dropdown-item" (click)="cant(i, 9)">9</button>
            <button class="dropdown-item" (click)="cant(i, 10)">10</button>
            <button class="dropdown-item" (click)="cant(i, 11)">11</button>
            <button class="dropdown-item" (click)="cant(i, 12)">12</button>
          </div>
        </div><br>
        <div style="background-color:rgba(215,79,61,0.8);width:160px;border-radius:5px;padding:5px">
          Precio Unidad: ${{item.precio}}
        </div>
      </div>
    </div>  
  </div>

  <br>
  <button id="twitterbadge" class="btn btn-block" (click)="pedir()" style="background-color:rgb(215,79,61);color:white;border:dotted;margin: 25px auto;" *ngIf="total.local">Pedir</button>
</div>
<br>

<div id="pff" *ngIf="pdf" style="background-color:rgba(183,48,30,0.80);border-radius:15px;padding:15px">
  <div [ngStyle]="{ 'background-image': 'url(' + total.local.imagen1 + ')', 'background-size': '100%', 'background-repeat': 'repeat', 'background-position': 'center', 'color':'white'}" class="d5">
      <div *ngFor="let ftem of total.pedidos" style="background-color:rgba(32,32,32,0.65)"  class="d5">
          Producto: {{ftem.nombre}}<br>
          Precio: ${{ ftem.precio }}<br>     
          Cantidad: {{ftem.cantidad}}
      </div>
      <div class="d5" style="background-color:rgba(32,32,32,0.65);position:relative;top:5px">
        Local: {{total.local.nombre}}<br>
        Dirección: {{total.local.direccion}}<br>
        Total: ${{total.precio}}
      </div>
      <br>
      <button class="btn d5" style="border:solid" (click)="gpdf()">Descargar como PDF</button>
      <button class="btn d5" style="border:solid" (click)="excel()">Descargar como Excel</button>
      <button class="btn d5" style="border:solid" (click)="volver()">volver a Pantalla principal</button>
    </div>
  </div>

  <!--<canvas  id="canvas" width="1000px" height="100px" style="border: 1px solid black;"></canvas>-->
