<div class="flat-form">  
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Productos">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Ofertas">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Usuarios">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title="Locales">
      <ng-template ngbPanelContent>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<!--<div class="flat-form">
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Alta Producto">
      <ng-template ngbPanelContent>
        <input type="text" placeholder="Nombre" [(ngModel)]="prodNom" class="d3">
        <input type="text" placeholder="Precio" [(ngModel)]="prodPre" class="d3">>
        <input type="text" placeholder="Imagen(URL)" [(ngModel)]="prodImg" class="d3">
        <button type="button" class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" (click)="producto()" >
          Crear
        </button>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Alta Cliente">
      <ng-template ngbPanelContent>
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario" class="d3">
        <input type="text" placeholder="Contraseña" [(ngModel)]="contra" class="d3">
        <button type="button" class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" (click)="cliente()">
          Crear
        </button>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-4" title="Alta Empleado" *ngIf="user.tipo == 'gerente'|| user.tipo == 'admin'">
      <ng-template ngbPanelContent>
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario" class="d3">
        <input type="text" placeholder="Contraseña" [(ngModel)]="contra" class="d3">
            <div ngbDropdown class="btn">
              <button class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" id="dropdownBasic1" ngbDropdownToggle>Locales</button>
              <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" *ngFor="let item of locales; let i = index" (click)="sLocal(i)">{{item.nombre}}</button>           
              </div>
            </div>
        <button type="button" class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" (click)="empleado()">
          Crear
        </button>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-6" title="Alta Local" *ngIf="user.tipo == 'admin'">
      <ng-template ngbPanelContent>
        <input type="text" placeholder="Nombre" [(ngModel)]="nombre" class="d3">
        <input type="text" placeholder="Latitud" [(ngModel)]="latitud" class="d3">
        <input type="text" placeholder="Longitud" [(ngModel)]="longitud" class="d3">
        <input type="text" placeholder="Direccion" [(ngModel)]="direccion" class="d3">
        <input type="text" placeholder="Imagen 1" [(ngModel)]="imagen1" class="d3">
        <input type="text" placeholder="Imagen 2" [(ngModel)]="imagen2" class="d3">
        <input type="text" placeholder="Imagen 3" [(ngModel)]="imagen3" class="d3">
        <button type="button" class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" (click)="cLocal()" >
          Crear
        </button>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-3" title="Alta Oferta">
      <ng-template ngbPanelContent>
        <input type="text" placeholder="Precio" [(ngModel)]="oferPre" class="d3"><br>
        <input type="text" placeholder="Local" [(ngModel)]="oferLoc" class="d3"><br>
        <ngb-datepicker #dp [(ngModel)]="oferLim" (navigate)="date = $event.next" class="d3">Fecha Limite</ngb-datepicker><br>
        <input type="text" placeholder="Descripción" [(ngModel)]="oferDes" class="d3"><br>
        <button type="button" class="btn d3" style="color:white;background-color:rgba(183,48,30,0.80)" (click)="oferta()" >
          Crear
        </button>
      </ng-template>
    </ngb-panel>
    
  </ngb-accordion>
</div>-->
