<div style="background-color:rgba(183,48,30,0.80);border-radius:15px;padding:15px">
  <div class="d3" style="background-color:rgba(215,79,61,0.7)">  
    <div class="d3" style="border:none;padding:0px">
      
    </div>
    <div class="d3" style="background-color:aliceblue;width:245px;border-radius:15px">
      <input type="text" style="width:220px;color:black;padding:10px;border-style:dotted;border-radius:15px;" [(ngModel)]="desc" placeholder="Descripción">
      <ngb-datepicker #dp [(ngModel)]="dat" (navigate)="date = $event.next"></ngb-datepicker>
    </div>
  

  <div>
  <div style="background-color:rgba(183,48,30,0.90); padding:15px;border-radius:15px;width:530px;" class="d3">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="btn">
          <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Locales</button>
          <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let item of locales; let i = index" (click)="sLocal(i)">{{item.nombre}}</button>           
          </div>
        </div>
      </div>
    </div>
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" *ngIf="localElegido">
        <sebm-google-map-info-window >
            <ngb-carousel >
              <ng-template ngbSlide>
                <img [src]='localElegido.imagen1' alt="Random first slide" style='height:175px;width:265px'>
                <div class="carousel-caption">
                  <div style="background-color: rgba(0,0,0,0.75);">
                    <h3 >{{localElegido.nombre}}</h3>
                    <p>{{localElegido.direccion}}</p>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]='localElegido.imagen2' alt="Random second slide" style='height:175px;width:265px'>
                <div class="carousel-caption">
                  <div style="background-color: rgba(0,0,0,0.75);">
                    <h3 >{{localElegido.nombre}}</h3>
                    <p>{{localElegido.direccion}}</p>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]='localElegido.imagen3' alt="Random third slide" style='height:175px;width:265px'>
                <div class="carousel-caption">
                  <div style="background-color: rgba(0,0,0,0.75);">
                    <h3 >{{localElegido.nombre}}</h3>
                    <p>{{localElegido.direccion}}</p>
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
      <sebm-google-map-marker [latitude]="userLat" [longitude]="userLong"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
  <br>
    <button class="btn d4" style="border-style:solid;width:100%;background-color:rgba(183,48,30,1);color:white;" (click)="res()">Reservar</button>
  </div>
</div>

  