

<div style="background-color:rgba(183,48,30,0.80);border-radius:15px;padding:15px">
  <div *ngIf="fireProd" style="background-color:rgba(215,79,61,0.7);border-radius:15px;padding:15px;border:solid;color:white">
    <strong style="color:aliceblue">Pedidos</strong><br><br>
    <div *ngFor="let clie of usuarios">
      <div *ngFor="let op of oper; let i = index">
        <div *ngIf="op.tipo == 'producto' && clie.id == op.userid" [ngStyle]="{ 'background-image': 'url(' + fireProd[clie.id][op.fireid].local.imagen1 + ')', 'background-size': '100%', 'background-repeat': 'repeat', 'background-position': 'center', 'color':'white', 'padding':'0px'}" class="d3">
          <div style="background-color:rgba(32,32,32,0.65); border:none"  class="d3">
            <div *ngFor="let prod of fireProd[clie.id][op.fireid].pedidos" >
              {{prod.nombre}} x {{prod.cantidad}}
            </div><br>
            Cliente: {{clie.usuario}}<br>
            Local: {{fireProd[clie.id][op.fireid].local.nombre}}<br>
            Total: ${{fireProd[clie.id][op.fireid].precio}}
            <div ngbDropdown style="width:200px">
              <button class="btn d3" id="dropdownBasic1" style="background-color:rgba(183,48,30,1);color:white;border:solid;" ngbDropdownToggle>
                Estado: {{op.estado}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownBasic1" >
                <button class="dropdown-item" (click)="estado(i, 'Pendiente')">Pendiente</button>
                <button class="dropdown-item" (click)="estado(i, 'Entregado')">Entregado</button>
              </div>
            </div>
            <button type="button" style="border:solid;position:relative;top:2px" class="d3" (click)="actu(i)">Actualizar Estado</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div style="background-color:rgba(215,79,61,0.7);border-radius:15px;padding:15px;border:solid;color:white;position:relative;top:5px">
    <strong style="color:aliceblue">Ofertas</strong><br><br>
    <div *ngFor="let clien of usuarios">
      <div *ngFor="let ope of oper; let i = index">
        <div *ngIf="ope.tipo == 'oferta' && clien.id == ope.userid">
          <div *ngFor="let ofe of ofertas">
            <div *ngIf="ope.iditem == ofe.id">
              <div *ngFor="let loca of locales">
                <div *ngIf="ofe.local == loca.idlocal" [ngStyle]="{ 'background-image': 'url(' + loca.imagen1 + ')', 'background-size': '100%', 'background-repeat': 'repeat', 'background-position': 'center', 'color':'white', 'padding':'0px'}" class="d3">
                  <div style="background-color:rgba(32,32,32,0.65); border:none"  class="d3">
                    Oferta: {{ofe.descripcion}}<br>
                    Local: {{loca.nombre}}<br>
                    Precio: ${{ofe.precio}}<br>
                    Limite: {{ofe.limite}}
                    <div ngbDropdown style="width:200px">
                      <button class="btn d3" id="dropdownBasic1" style="background-color:rgba(183,48,30,1);color:white;border:solid;" ngbDropdownToggle>
                        Estado: {{ope.estado}}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownBasic1" >
                        <button class="dropdown-item" (click)="estado(i, 'Pendiente')">Pendiente</button>
                        <button class="dropdown-item" (click)="estado(i, 'Entregado')">Entregado</button>
                      </div>
                    </div>
                    <button type="button" style="border:solid;position:relative;top:2px" class="d3" (click)="actu(i)">Actualizar Estado</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>





