<!--NAVBAR CLIENTES-->
<div style="background-color:#B7301E;color:azure" *ngIf="tipo == 'cliente'">
  <div style="color:azure;width:17%" class="btn" (click)="this.router.navigate(['/hub']);">
    <img src="http://i.imgur.com/IrUGhoO.png" style="width:100%">
  </div>
  <button class="btn" style="height:100%;background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/ofertas']);">Ofertas</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/operaciones']);">Operaciones anteriores</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/reservas']);">Reservas</button>
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;position:absolute;right:20px;top:5px" (click)="logout()">Salir</button>
</div>

<!--NAVBAR EMPLEADO-->
<div style="background-color:#B7301E;color:azure" *ngIf="tipo == 'empleado'">
  <div style="color:azure;width:17%" class="btn" (click)="this.router.navigate(['/hub']);">
    <img src="http://i.imgur.com/IrUGhoO.png" style="width:100%">
  </div>
  <button class="btn" style="height:100%;background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/alta']);">Alta Producto/Oferta/Cliente</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/lista']);">Lista</button>
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;position:absolute;right:20px;top:5px" (click)="logout()">Salir</button>
</div>

<!--NAVBAR GERENTE-->
<div style="background-color:#B7301E;color:azure" *ngIf="tipo == 'gerente'">
  <div style="color:azure;width:17%" class="btn" (click)="this.router.navigate(['/hub']);">
    <img src="http://i.imgur.com/IrUGhoO.png" style="width:100%">
  </div>
  <button class="btn" style="height:100%;background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/alta']);">Alta Producto/Oferta/Usuario/Pedido</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/listaUsuarios']);">Cambio Estado</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/locales']);">Local</button>
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;position:absolute;right:20px;top:5px" (click)="logout()">Salir</button>
</div>

<!--NAVBAR ADMIN-->
<div style="background-color:#B7301E;color:azure" *ngIf="tipo == 'admin'">
  <div style="color:azure;width:17%" class="btn" (click)="this.router.navigate(['/hub']);">
    <img src="http://i.imgur.com/IrUGhoO.png" style="width:100%">
  </div>
  <button class="btn" style="height:100%;background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/alta']);">Alta Producto/Oferta/Usuario/Pedido</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" (click)="this.router.navigate(['/mod']);">Modificación</button>
  |
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;" >Estadisticas</button>
  <button class="btn" style="background-color:rgba(215,79,61,0);color:white;font-weight:bold;position:absolute;right:20px;top:5px" (click)="logout()">Salir</button>
</div>


<br>
<router-outlet></router-outlet>
